---
apiVersion: v1
kind: Template
labels:
  template: projectrequest-template
message: |-
  The following project/namespace has been created: ${NAMESPACE}
metadata:
  annotations:
    description: |-
      ProjectRequest Template
  creationTimestamp: null
  name: ${NAMESPACE}
objects:
{% for environment in environments %}
- apiVersion: project.openshift.io/v1
  kind: {{ 'Project' if (oc_action == 'delete') else 'ProjectRequest' }}
  metadata:
    name: ${NAMESPACE}-template-{{ environment }}
  description: '${NAMESPACE_DESCRIPTION} (template) - {{ environment }}'
  displayName: '${NAMESPACE_DISPLAY_NAME} (template) - {{ environment }}'
{% endfor %}
parameters:
- description: Name
  displayName: Name
  name: NAMESPACE
  required: true
- description: DisplayName
  displayName: DisplayName
  name: NAMESPACE_DISPLAY_NAME
  required: true
- description: Description
  displayName: Description
  name: NAMESPACE_DESCRIPTION
