---

- name: "Check applier requirements"
  include_tasks: pre-check.yml

- name: "Deprecated variable check"
  include_tasks: check-for-old-vars.yml

- name: "Error out on anything in the inventory that is no longer supported"
  include_tasks: error-on-unsupported.yml

- name: "Pull in Galaxy requirements - if set"
  include_tasks: install-dependencies.yml
  with_items:
    - "{{ openshift_cluster_content }}"
  loop_control:
    loop_var: dependencies
  when:
    - dependencies.galaxy_requirements is defined

- name: "Prepare to copy content to remote host(s) if not running 'locally'"
  import_tasks: prep-copy-inventory-to-remote.yml
  when:
    - ansible_connection != 'local'

- name: "Create OpenShift objects"
  include_tasks: process-content.yml
  with_items: "{{ range(0, openshift_cluster_content|default([])|length) | list }}"
  loop_control:
    loop_var: entry_n
  vars:
    entry: "{{ openshift_cluster_content[entry_n] }}"
  when:
    - entry.content is defined
